@{ Layout = "~/Views/Shared/_BSRMSLayout.cshtml"; }

<div class="row center-align" style="margin-top:80px;">
    <div class="col s12">
        <h2 class="blue-text text-darken-4">B-SERVE DASHBOARD</h2>
        <h6 class="grey-text">Monitoring System Control Panel</h6>
        <div class="divider"></div>
        <br>
        <div class="row">
            <div class="col s12 m4"><a class="btn-large blue darken-2" style="width:100%" ng-click="goTo('Login')"><i class="material-icons left">login</i>LOGIN</a></div>
            <div class="col s12 m4"><a class="btn-large green darken-2" style="width:100%" ng-click="goTo('Registration')"><i class="material-icons left">person_add</i>REGISTER</a></div>
            <div class="col s12 m4"><a class="btn-large orange darken-3" style="width:100%" ng-click="goTo('Users')"><i class="material-icons left">groups</i>RESIDENTS</a></div>
        </div>
    </div>
</div>