@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row center-align" style="margin-top:100px;">
    <div class="col s12 m4 offset-m4 card-panel">
        <h4 class="blue-text">B-Serve Login</h4>
        <div class="input-field col s12"><input type="text" ng-model="LoginUser"><label>Username</label></div>
        <div class="input-field col s12"><input type="password" ng-model="LoginPass"><label>Password</label></div>
        <button class="btn-large blue" style="width:100%" ng-click="login()">LOGIN</button>
        <p>New here? <a href="#" ng-click="goTo('RegistrationPage')">Register</a></p>
    </div>
</div>